<a href="https://colab.research.google.com/github/MFarisA/Data-Mining/blob/main/data_mining_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/campuss/data-mining/dataKasus-1.xlsx'

Mounted at /content/drive

# Load Dataset

In [10]:
import pandas as pd
from IPython.display import display

# Load Excel file
df = pd.read_excel('/content/drive/MyDrive/campuss/data-mining/dataKasus-1.xlsx')

# Check the first few rows
display(df.head())
# Display the column names (without calling it as a function)
display(df.columns)

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,SOSEK RENDAH,PE/Non PE,Unnamed: 12
0,1,NAMA 1,23 TH,3,< 2 tahun,Tidak,Tidak,Tidak,Ya,Tidak,>UMR,Non PE,NaN
1,2,NAMA 2,29 TH,2,< 2 tahun,Tidak,PEB,Tidak,Tidak,Ada,>UMR,PE,NaN
2,3,NAMA 3,20 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
3,4,NAMA 4,18 TH,1,anak pertama,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN
4,5,NAMA 5,34 TH,3,> 2 tahun,Tidak,Tidak,Tidak,Tidak,Tidak,>UMR,Non PE,NaN

Index(['NO', 'NAMA', 'USIA', 'PARITAS', 'JARAK KELAHIRAN', 'RIW HIPERTENSI',
       'RIW PE', 'OBESITAS', 'RIW DM', 'RIW HIPERTENSI/PE DALAM KELUARGA',
       'SOSEK RENDAH', 'PE/Non PE', 'Unnamed: 12'],
      dtype='object')

## Handle missing Data

In [15]:
# Drop rows with any missing values
data_clean = df.dropna()

# Drop columns with missing values
data_clean = df.dropna(axis=1)

In [19]:
# Check for missing values in each column
print(df.isnull().sum())

NO                                    0
NAMA                                  0
USIA                                  3
PARITAS                               0
JARAK KELAHIRAN                       7
RIW HIPERTENSI                        0
RIW PE                                0
OBESITAS                              0
RIW DM                                0
RIW HIPERTENSI/PE DALAM KELUARGA      0
SOSEK RENDAH                          0
PE/Non PE                             0
Unnamed: 12                         550
dtype: int64

In [20]:
# Check if there are any missing values in the entire DataFrame
print(df.isnull().values.any())

True

In [21]:
# Calculate the percentage of missing values in each column
missing_percentage = df.isnull().mean() * 100
print(missing_percentage)

NO                                   0.000000
NAMA                                 0.000000
USIA                                 0.534759
PARITAS                              0.000000
JARAK KELAHIRAN                      1.247772
RIW HIPERTENSI                       0.000000
RIW PE                               0.000000
OBESITAS                             0.000000
RIW DM                               0.000000
RIW HIPERTENSI/PE DALAM KELUARGA     0.000000
SOSEK RENDAH                         0.000000
PE/Non PE                            0.000000
Unnamed: 12                         98.039216
dtype: float64

## Label Encoding, Normalization

In [38]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Initialize label encoder and scaler
le = LabelEncoder()
scaler = MinMaxScaler()

# Apply label encoding to each column
df['OBESITAS'] = le.fit_transform(df['OBESITAS'])
df['RIW HIPERTENSI'] = le.fit_transform(df['RIW HIPERTENSI'])
df['SOSEK RENDAH'] = le.fit_transform(df['SOSEK RENDAH'])

# Normalize the encoded data (scales between 0 and 1)
df[['OBESITAS', 'RIW HIPERTENSI', 'SOSEK RENDAH']] = scaler.fit_transform(df[['OBESITAS', 'RIW HIPERTENSI', 'SOSEK RENDAH']])

# Compare with other columns (e.g., 'NAMA', 'USIA', etc.)
print(df[['NAMA', 'USIA', 'JARAK KELAHIRAN', 'OBESITAS', 'RIW HIPERTENSI', 'SOSEK RENDAH']].head(10))

      NAMA   USIA JARAK KELAHIRAN  OBESITAS  RIW HIPERTENSI  SOSEK RENDAH
0   NAMA 1  23 TH       < 2 tahun       0.0             0.0           1.0
1   NAMA 2  29 TH       < 2 tahun       0.0             0.0           1.0
2   NAMA 3  20 TH    anak pertama       0.0             0.0           1.0
3   NAMA 4  18 TH    anak pertama       0.0             0.0           1.0
4   NAMA 5  34 TH      > 2 tahun        0.0             0.0           1.0
5   NAMA 6  28 TH       < 2 tahun       0.0             0.0           1.0
6   NAMA 7  36 TH      > 2 tahun        0.0             0.0           1.0
7   NAMA 8  28 TH      > 2 tahun        0.0             0.0           1.0
8   NAMA 9  39 TH       < 2 tahun       0.0             0.0           1.0
9  NAMA 10  37 TH      > 2 tahun        0.0             0.0           1.0

In [31]:
data_clean = df.drop_duplicates()

In [66]:
# prompt: build the models

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

# Assuming 'OBESITAS' is the target variable
# Ensure df is not empty before proceeding
print("Shape of DataFrame:", df.shape)  # Check the shape of your DataFrame
print("First few rows of DataFrame:\n", df.head())  # Inspect the content

# If df is empty, load or create your DataFrame here
# Example: df = pd.read_csv("your_data_file.csv")
# ... (your data loading and preprocessing steps) ...

X = df.drop('OBESITAS', axis=1)
y = df['OBESITAS']

# Convert categorical features to numerical using one-hot encoding
X = pd.get_dummies(X, columns=['NAMA', 'RIW HIPERTENSI', 'SOSEK RENDAH'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize models
decision_tree_model = DecisionTreeClassifier()
random_forest_model = RandomForestClassifier()
knn_model = KNeighborsClassifier()
svm_model = SVC()

# Train models
decision_tree_model.fit(X_train, y_train)
random_forest_model.fit(X_train, y_train)
knn_model.fit(X_train, y_train)
svm_model.fit(X_train, y_train)

# Make predictions
y_pred_dt = decision_tree_model.predict(X_test)
y_pred_rf = random_forest_model.predict(X_test)
y_pred_knn = knn_model.predict(X_test)
y_pred_svm = svm_model.predict(X_test)

# Evaluate models
print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred_dt))
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print("KNN Accuracy:", accuracy_score(y_test, y_pred_knn))
print("SVM Accuracy:", accuracy_score(y_test, y_pred_svm))

print("\nDecision Tree Classification Report:\n", classification_report(y_test, y_pred_dt))
print("\nRandom Forest Classification Report:\n", classification_report(y_test, y_pred_rf))
print("\nKNN Classification Report:\n", classification_report(y_test, y_pred_knn))
print("\nSVM Classification Report:\n", classification_report(y_test, y_pred_svm))

Shape of DataFrame: (0, 13)
First few rows of DataFrame:
 Empty DataFrame
Columns: [NO, NAMA, USIA, PARITAS, JARAK KELAHIRAN, RIW HIPERTENSI, RIW PE, OBESITAS, RIW DM, RIW HIPERTENSI/PE DALAM KELUARGA, SOSEK RENDAH, PE/Non PE, Unnamed: 12]
Index: []

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.